body {
	padding: 1rem;
	background-color: azure;
}

button {
	margin: .5rem;
}

input {
	margin: .5rem;
}

.gifContainer {
	margin-bottom: 1rem;
	border: 1px solid darkgray;
}

#gifRating {
	font-weight: bold;
}